@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url(../../media/background2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.login-email-validation-err, .login-password-validation-err{
    font-size: 11px;
    padding-left: 10px;
    color: red;
    display: none;
}
.login-response-layer{
    background: black;
    height: 100vh;
    opacity: 0.8;
    position: relative;
    z-index: 1;
    display: none;
}

.login-responses-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.login-response-one{
    height: 250px;
    width: 280px;
    background-color: white;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: 1px solid black;
    display: none;
}
.login-response-two{
    height: 215px;
    width: 300px;
    padding: 10px;
    background-color: white;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: 1px solid black;
    text-align: center;
    display: none;
}
.login-response-two > button {
    height: 30px;
    border: none;
    width: 50px;
    background: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.login-response-three{
    height: 215px;
    width: 300px;
    padding: 10px;
    background-color: white;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: 1px solid black;
    text-align: center;
    display: none;
}
.login-response-three > button{
    height: 30px;
    border: none;
    width: 80px;
    background: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.login-form-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-form{
    width: 370px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}
.login-form-inner-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;  
}
.login-form-inner-wrap > div{
    margin-bottom: 15px;
}
.login-form-title{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}
label {
    display: none;
    font-size: 13px;
    font-weight: 500;
}
input{  
    width: 290px;
    height: 45px;
    border-radius: 50px;
    border: 1px solid black;
    padding: 15px;
}
.login-form-inner-wrap>div>button{
    border: none;
    height: 35px;
    width:  70px;
    color: white;
    background-color: black;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.register-span{
    cursor: pointer;
}