@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* .block-layer{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 3;
    background-color: #363636;
    opacity: 0.7;
} */

/* form styles */
/* .form-display{
    display: none;
} */
.form-main-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    margin-top: 38rem;
    height: 490px;
    width: 370px;
    border-radius: 20px;
    position: fixed;
    z-index: 9;
    background: white;
}
.from-inner-wrap {
    margin-left: 40px;
}
.from-inner-wrap > div{
    margin-bottom: 15px;
}
.form-title{
    margin: 15px 0 0 53px;
    font-size: 20px;
    font-weight: 600;
}
.fname-label,.lname-label,.email-label,.password-label{
    display: none;
}
label {
    font-size: 13px;
    font-weight: 500;
}
input.lname-input,.fname-input,.email-input,.password-input{
    width: 290px;
    height: 45px;
    border-radius: 50px;
    border: 1px solid black;
    padding: 15px;
}
input.date-input {
    border-radius: 15px;
    height: 30px;
    border: 1px solid black;
    padding: 5px;
}
.date-input-container{
    margin:20px 0 0 15px;
}
.gender-input-container{
    display: flex;
}
.gender-input-container >div{
    margin: 0 30px 0px 15px;
}
.submit-button{
    color: white;
    background-color: black;
    border: none;
    text-align: center;
    width: 100px;
    height: 35px;
    border-radius: 18px;
    margin: 15px 0 0 93px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    cursor: pointer;
}
.ask-me-later-btn{
    margin-left: 136px;
    font-size: 15px;
    cursor: pointer;
}
.waves{
    position: relative;
    width: 100%;
    height: 400px;
}
svg {
    position: absolute;
    bottom: 0;
}
.path-0{
    animation:pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes pathAnim-0{
    0%{
        d: path("M 0,500 C 0,500 0,100 0,100 C 83.27272727272728,106.42105263157895 166.54545454545456,112.84210526315789 272,116 C 377.45454545454544,119.15789473684211 505.0909090909091,119.05263157894737 603,112 C 700.9090909090909,104.94736842105263 769.0909090909091,90.94736842105263 862,90 C 954.9090909090909,89.05263157894737 1072.5454545454545,101.15789473684211 1173,105 C 1273.4545454545455,108.84210526315789 1356.7272727272727,104.42105263157895 1440,100 C 1440,100 1440,500 1440,500 Z");
    }
    25%{
        d: path("M 0,500 C 0,500 0,100 0,100 C 108.5263157894737,84.42105263157895 217.0526315789474,68.84210526315789 321,77 C 424.9473684210526,85.15789473684211 524.3157894736842,117.05263157894737 608,119 C 691.6842105263158,120.94736842105263 759.6842105263158,92.94736842105263 859,80 C 958.3157894736842,67.05263157894737 1088.9473684210527,69.15789473684211 1191,75 C 1293.0526315789473,80.84210526315789 1366.5263157894738,90.42105263157895 1440,100 C 1440,100 1440,500 1440,500 Z");
    }
    50%{
        d: path("M 0,500 C 0,500 0,100 0,100 C 75.14832535885168,109.92344497607655 150.29665071770336,119.8468899521531 253,116 C 355.70334928229664,112.1531100478469 485.9617224880383,94.5358851674641 581,97 C 676.0382775119617,99.4641148325359 735.8564593301435,122.00956937799046 841,131 C 946.1435406698565,139.99043062200954 1096.6124401913878,135.42583732057415 1204,128 C 1311.3875598086122,120.57416267942584 1375.6937799043062,110.28708133971293 1440,100 C 1440,100 1440,500 1440,500 Z");
    }
    75%{
        d: path("M 0,500 C 0,500 0,100 0,100 C 87.95215311004787,74.9090909090909 175.90430622009575,49.81818181818183 267,64 C 358.09569377990425,78.18181818181817 452.334928229665,131.63636363636365 548,137 C 643.665071770335,142.36363636363635 740.755980861244,99.63636363636363 846,85 C 951.244019138756,70.36363636363637 1064.641148325359,83.81818181818183 1165,91 C 1265.358851674641,98.18181818181817 1352.6794258373207,99.0909090909091 1440,100 C 1440,100 1440,500 1440,500 Z");
    }
    100%{
        d: path("M 0,500 C 0,500 0,100 0,100 C 83.27272727272728,106.42105263157895 166.54545454545456,112.84210526315789 272,116 C 377.45454545454544,119.15789473684211 505.0909090909091,119.05263157894737 603,112 C 700.9090909090909,104.94736842105263 769.0909090909091,90.94736842105263 862,90 C 954.9090909090909,89.05263157894737 1072.5454545454545,101.15789473684211 1173,105 C 1273.4545454545455,108.84210526315789 1356.7272727272727,104.42105263157895 1440,100 C 1440,100 1440,500 1440,500 Z");
    }
}
.path-1{
    animation:pathAnim-1 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes pathAnim-1{
    0%{
        d: path("M 0,500 C 0,500 0,200 0,200 C 77.75119617224883,186.61244019138758 155.50239234449765,173.22488038277513 254,172 C 352.49760765550235,170.77511961722487 471.7416267942583,181.7129186602871 590,183 C 708.2583732057417,184.2870813397129 825.5311004784688,175.92344497607655 917,185 C 1008.4688995215312,194.07655502392345 1074.1339712918661,220.59330143540672 1157,226 C 1239.8660287081339,231.40669856459328 1339.933014354067,215.70334928229664 1440,200 C 1440,200 1440,500 1440,500 Z");
    }
    25%{
        d: path("M 0,500 C 0,500 0,200 0,200 C 106.03827751196172,207.40669856459328 212.07655502392345,214.8133971291866 308,215 C 403.92344497607655,215.1866028708134 489.73205741626793,208.1531100478469 589,200 C 688.2679425837321,191.8468899521531 800.9952153110047,182.57416267942583 883,180 C 965.0047846889953,177.42583732057417 1016.2870813397128,181.55023923444975 1104,186 C 1191.7129186602872,190.44976076555025 1315.8564593301435,195.22488038277513 1440,200 C 1440,200 1440,500 1440,500 Z");
    }
    50%{
        d: path("M 0,500 C 0,500 0,200 0,200 C 89.79904306220098,201.71291866028707 179.59808612440196,203.42583732057415 262,210 C 344.40191387559804,216.57416267942585 419.4066985645933,228.00956937799046 536,235 C 652.5933014354067,241.99043062200954 810.7751196172248,244.53588516746413 915,234 C 1019.2248803827752,223.46411483253587 1069.4928229665072,199.84688995215313 1148,192 C 1226.5071770334928,184.15311004784687 1333.2535885167463,192.07655502392345 1440,200 C 1440,200 1440,500 1440,500 Z");
    }
    75%{
        d: path("M 0,500 C 0,500 0,200 0,200 C 66.20095693779902,188.8421052631579 132.40191387559804,177.68421052631578 243,179 C 353.59808612440196,180.31578947368422 508.5933014354067,194.10526315789474 609,197 C 709.4066985645933,199.89473684210526 755.2248803827753,191.8947368421053 844,193 C 932.7751196172247,194.1052631578947 1064.5071770334928,204.31578947368422 1171,207 C 1277.4928229665072,209.68421052631578 1358.7464114832537,204.8421052631579 1440,200 C 1440,200 1440,500 1440,500 Z");
    }
    100%{
        d: path("M 0,500 C 0,500 0,200 0,200 C 77.75119617224883,186.61244019138758 155.50239234449765,173.22488038277513 254,172 C 352.49760765550235,170.77511961722487 471.7416267942583,181.7129186602871 590,183 C 708.2583732057417,184.2870813397129 825.5311004784688,175.92344497607655 917,185 C 1008.4688995215312,194.07655502392345 1074.1339712918661,220.59330143540672 1157,226 C 1239.8660287081339,231.40669856459328 1339.933014354067,215.70334928229664 1440,200 C 1440,200 1440,500 1440,500 Z");
    }
}
.path-2{
    animation:pathAnim-2 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes pathAnim-2{
    0%{
        d: path("M 0,500 C 0,500 0,300 0,300 C 124.36363636363635,321.35885167464113 248.7272727272727,342.71770334928226 326,337 C 403.2727272727273,331.28229665071774 433.4545454545454,298.488038277512 528,299 C 622.5454545454546,299.511961722488 781.4545454545454,333.3301435406699 898,335 C 1014.5454545454546,336.6698564593301 1088.7272727272727,306.1913875598086 1172,295 C 1255.2727272727273,283.8086124401914 1347.6363636363635,291.9043062200957 1440,300 C 1440,300 1440,500 1440,500 Z");
    }
    25%{
        d: path("M 0,500 C 0,500 0,300 0,300 C 103.60765550239233,291.17703349282294 207.21531100478467,282.35406698564594 285,276 C 362.78468899521533,269.64593301435406 414.7464114832536,265.7607655502393 525,275 C 635.2535885167464,284.2392344497607 803.7990430622009,306.6028708133971 906,312 C 1008.2009569377991,317.3971291866029 1044.0574162679427,305.82775119617224 1122,301 C 1199.9425837320573,296.17224880382776 1319.9712918660287,298.0861244019139 1440,300 C 1440,300 1440,500 1440,500 Z");
    }
    50%{
        d: path("M 0,500 C 0,500 0,300 0,300 C 71.98086124401911,306.0956937799043 143.96172248803822,312.1913875598087 247,304 C 350.0382775119618,295.8086124401913 484.13397129186615,273.33014354066984 589,265 C 693.8660287081339,256.66985645933016 769.5023923444976,262.488038277512 866,278 C 962.4976076555024,293.511961722488 1079.8564593301435,318.71770334928226 1179,324 C 1278.1435406698565,329.28229665071774 1359.0717703349283,314.64114832535887 1440,300 C 1440,300 1440,500 1440,500 Z");
    }
    75%{
        d: path("M 0,500 C 0,500 0,300 0,300 C 89.54066985645932,318.3923444976076 179.08133971291863,336.7846889952153 262,334 C 344.91866028708137,331.2153110047847 421.21531100478467,307.25358851674645 528,307 C 634.7846889952153,306.74641148325355 772.0574162679426,330.200956937799 878,336 C 983.9425837320574,341.799043062201 1058.5550239234449,329.9425837320574 1147,321 C 1235.4449760765551,312.0574162679426 1337.7224880382776,306.0287081339713 1440,300 C 1440,300 1440,500 1440,500 Z");
    }
    100%{
        d: path("M 0,500 C 0,500 0,300 0,300 C 124.36363636363635,321.35885167464113 248.7272727272727,342.71770334928226 326,337 C 403.2727272727273,331.28229665071774 433.4545454545454,298.488038277512 528,299 C 622.5454545454546,299.511961722488 781.4545454545454,333.3301435406699 898,335 C 1014.5454545454546,336.6698564593301 1088.7272727272727,306.1913875598086 1172,295 C 1255.2727272727273,283.8086124401914 1347.6363636363635,291.9043062200957 1440,300 C 1440,300 1440,500 1440,500 Z");
    }
}
.path-3{
    animation:pathAnim-3 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes pathAnim-3{
    0%{
        d: path("M 0,500 C 0,500 0,400 0,400 C 86.70813397129186,399.8468899521531 173.41626794258372,399.6937799043062 257,408 C 340.5837320574163,416.3062200956938 421.0430622009569,433.0717703349283 522,432 C 622.9569377990431,430.9282296650717 744.4114832535885,412.01913875598086 848,408 C 951.5885167464115,403.98086124401914 1037.311004784689,414.8516746411483 1133,416 C 1228.688995215311,417.1483253588517 1334.3444976076555,408.57416267942585 1440,400 C 1440,400 1440,500 1440,500 Z");
    }
    25%{
        d: path("M 0,500 C 0,500 0,400 0,400 C 70.46889952153109,404.91866028708137 140.93779904306217,409.8373205741627 256,415 C 371.06220095693783,420.1626794258373 530.7177033492824,425.5693779904306 617,410 C 703.2822966507176,394.4306220095694 716.1913875598085,357.88516746411483 811,363 C 905.8086124401915,368.11483253588517 1082.5167464114834,414.88995215311 1201,428 C 1319.4832535885166,441.11004784689 1379.7416267942583,420.555023923445 1440,400 C 1440,400 1440,500 1440,500 Z");
    }
    50%{
        d: path("M 0,500 C 0,500 0,400 0,400 C 103.02392344497608,412.54545454545456 206.04784688995215,425.0909090909091 312,417 C 417.95215311004785,408.9090909090909 526.8325358851674,380.18181818181813 615,375 C 703.1674641148326,369.81818181818187 770.6220095693781,388.1818181818182 862,389 C 953.3779904306219,389.8181818181818 1068.6794258373207,373.09090909090907 1169,372 C 1269.3205741626793,370.90909090909093 1354.6602870813397,385.4545454545455 1440,400 C 1440,400 1440,500 1440,500 Z");
    }
    75%{
        d: path("M 0,500 C 0,500 0,400 0,400 C 77.57894736842107,396.6602870813397 155.15789473684214,393.3205741626794 256,389 C 356.84210526315786,384.6794258373206 480.9473684210526,379.37799043062205 599,386 C 717.0526315789474,392.62200956937795 829.0526315789474,411.1674641148325 914,409 C 998.9473684210526,406.8325358851675 1056.842105263158,383.95215311004785 1140,379 C 1223.157894736842,374.04784688995215 1331.578947368421,387.02392344497605 1440,400 C 1440,400 1440,500 1440,500 Z");
    }
    100%{
        d: path("M 0,500 C 0,500 0,400 0,400 C 86.70813397129186,399.8468899521531 173.41626794258372,399.6937799043062 257,408 C 340.5837320574163,416.3062200956938 421.0430622009569,433.0717703349283 522,432 C 622.9569377990431,430.9282296650717 744.4114832535885,412.01913875598086 848,408 C 951.5885167464115,403.98086124401914 1037.311004784689,414.8516746411483 1133,416 C 1228.688995215311,417.1483253588517 1334.3444976076555,408.57416267942585 1440,400 C 1440,400 1440,500 1440,500 Z");
    }
}