@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url(./images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* form styles */
.form-display{
    height: 100vh;
}
.form-main-wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.register-form{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    height: 490px;
    width: 370px;
    border-radius: 20px;
    z-index: 9;
    background: white;
    /* display: none; */
}
.register-from-inner-wrap {
    padding-top: 0.5px;
    margin-left: 40px;
}
.register-from-inner-wrap > div{
    margin-bottom: 15px;
}
.form-title{
    margin: 15px 0 0 53px;
    font-size: 20px;
    font-weight: 600;
}
.fname-label,.lname-label,.email-label,.password-label{
    display: none;
}
label {
    font-size: 13px;
    font-weight: 500;
}
input.lname-input,.fname-input,.email-input,.password-input{
    width: 290px;
    height: 45px;
    border-radius: 50px;
    border: 1px solid black;
    padding: 15px;
}
input.date-input {
    border-radius: 15px;
    height: 30px;
    border: 1px solid black;
    padding: 5px;
}
.date-input-container{
    margin:20px 0 0 15px;
}
.gender-input-container{
    display: flex;
}
.gender-input-container >div{
    margin: 0 30px 0px 15px;
}
.submit-button{
    color: white;
    background-color: black;
    border: none;
    text-align: center;
    width: 100px;
    height: 35px;
    border-radius: 18px;
    margin: 15px 0 0 93px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    cursor: pointer;
}
.register-form-span{
    margin-left: 58px;
    font-size: 15px;
}
.login-span{
    cursor: pointer;
    font-size: 16px;
}
/* login form styles */
.login-form{
    height: 315px;
    width: 370px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    display: none;
}
.login-form-inner-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;  
}
.login-form-inner-wrap > div{
    margin-bottom: 15px;
}
.login-form-title{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}
.login-form-inner-wrap>div>button{
    border: none;
    height: 35px;
    width:  70px;
    color: white;
    background-color: black;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.register-span{
    cursor: pointer;
}
.response{
    z-index: 100;
    position: absolute;
}